$header-padding-top: 0rem;
$header-padding-left: 2.5rem;
$header-padding-bottom: 0rem;
$header-padding-right: 2.5rem;
$header-height: 3.5rem;
$main-padding-top: 0rem;
$main-padding-left: 2.5rem;
$main-padding-bottom: 0rem;
$main-padding-right: 2.5rem;
$footer-padding-top: 0rem;
$footer-padding-left: 2.5rem;
$footer-padding-bottom: 0rem;
$footer-padding-right: 2.5rem;
